.DS_Store
.zcompdump
.zplug
.zsh_history
plugged/
.netrwhist
history.zsh_history
glean.darwin.zsh
nvim/.config/lua/hans/scio.lua
**/preferences/local/*
**/Alfred.alfredpreferences/remote/*
**/Alfred.alfredpreferences/resources/*
ghostty/.config/ghostty/config
